body {
  background-color: none;
}

h1 {
	text-align: center;
}

ul {
    margin: 0;
    padding: 0 40px;
    font-size: 2em;
 
}

#navigation{
  padding: 3px;
  overflow: hidden;
  background-color: #333;
  /*position: sticky;*/
  top: 0;
  width: 100%;
  height: 80px;
}

#navigation a {
  font-size: 2em;
  font-weight: 600; /* no px is necessary or it will not work correctly*/
  text-decoration: none; /* this removes the bullet points from list*/
  color: purple;
  font-family: serif;
  margin:160px;
  text-align: center;
}

#navigation a:hover{
  color: blue;
}

/* this is the grid to put photos galleries in div*/
.photos {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px;
  grid-gap: 40px;

}


.photos > div {
  background-color: #808080;
  background-repeat: no-repeat;
  background-size: cover;
}

.photos > div.a {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.photos > div.b {
  grid-column: 2;
  grid-row: 1 / span 1;
}

.photos > div.c {
  grid-column: 3;
  grid-row: 1 / span 1;
}

.photos > div.d {
  grid-column: 1;
  grid-row: 2 / span 1;
}
.photos > div.e {
  grid-column: 2;
  grid-row: 2 / span 1;
}
.photos > div.f {
  grid-column: 3;
  grid-row: 2 / span 1;
}

/* Conatct start */

        .header-title
        {
          text-align:  right;
          font-family: sans-serif;
        
        }
 .title
        {
          text-align: center;
          font-family: sans-serif;
          margin-top: 20px;
        
        }

        #tip 
        {
            display:none;  
        }

        .fadeIn
        {
          animation-duration: 3s;
        }

        .form-control
        {
            border-radius:0px;
            border:1px solid #808080;
        }

        .form-control:focus
        {
            border:1px solid #00bfff;
        }

        .textarea-contact
        {
            resize:none; 
        }

        .btn-send
        {
            border-radius: 0px;
            border:1px solid #00bfff;
            background:#00bfff;
            color:#fff; 
        }

        .btn-send:hover
        {
            border:1px solid #00bfff;
            background:#fff;
            color:#00bfff;
            transition:background 0.5s;   
        }

        .second-portion
        {
            margin-top:50px; 
        }

                @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
        @import "https://fonts.googleapis.com/css?family=Roboto:400,500";

        .box > .icon { text-align: center; position: relative; }
        .box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #98bf21; vertical-align: middle; }
        .box > .icon:hover > .image { background: #333; }
        .box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
        .box > .icon:hover > .image > i { color: white !important; }
        .box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
        .box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
        .box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
        .box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
        .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
        .box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
        .box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
        .box .space { height: 30px; }

        @media only screen and (max-width: 768px)
        {
            .contact-form
            {
                margin-top:25px; 
            }

            .btn-send
            {
                width: 100%;
                padding:10px; 
            }

            .second-portion
            {
                margin-top:25px; 
            }
        }
    /* Conatct end */